{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6"
        }
      }
    ],
    "react-native",
    "stage-0"
  ],
  "plugins": ["lodash", "transform-decorators-legacy"],
  "ignore": ["art/core/color.js"]
}
