{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6"
        }
      }
    ],
    "react-native",
    "react-native-stage-0"
  ],
  "plugins": ["transform-decorators-legacy", "lodash"],
  "ignore": ["art/core/color.js"]
}
